<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vanilla Paragliding Club
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false" >
  <ion-slides>

    <ion-slide routerLink="/pilot-list">
      <ion-card>
        <div class="slide">
          <img src="../../assets/icon/pilot.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Amazing pilots</ion-card-subtitle>
            <ion-card-title>Our pilots are the best, they are <strong>tremendous.</strong></ion-card-title>
          </ion-card-header>
        </div>
      </ion-card>
    </ion-slide>

    <ion-slide routerLink="/paraglider-list">
      <ion-card>
      <div class="slide">
        <img src="../../assets/icon/paraglider.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Trustworthy paragliders</ion-card-subtitle>
          <ion-card-title>You don't understand the <strong>gravity</strong> of the situation.</ion-card-title>
        </ion-card-header>
      </div>
      </ion-card>
    </ion-slide>

    <ion-slide routerLink="/site-list">
      <ion-card>
      <div class="slide">
        <img src="../../assets/icon/site.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Breathtaking sites</ion-card-subtitle>
          <ion-card-title>Accessible, clean and safe. Bears love to visit them.</ion-card-title>
          </ion-card-header>
      </div>
      </ion-card>
    </ion-slide>    
  </ion-slides>
</ion-content>


