<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text="Back" default-href="home"></ion-back-button>
    </ion-button>    
    <ion-title>List of pilots</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let item of pilots">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/icon/avatarpilot.png">
      </ion-avatar>
      <ion-label>
        <ion-row>
          <ion-col size="9">
            <h2>{{ item.name }}</h2>
            <h3>{{ item.address }}</h3>
          </ion-col>
          <ion-col class="ion-align-self-center" size="auto">
            <ion-icon name="information-outline" routerLink="/pilot-detail/{{item.id}}"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="deleteAction(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="secondary" routerLink="/pilot-edit/{{item.id}}">
        <ion-icon name="create-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/pilot-add">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
