<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text="Back" default-href="/pilot-list"></ion-back-button>
    </ion-button>    
    <ion-title>Edit a site</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmitAction()">
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Orientation:</ion-label>
      <ion-input formControlName="orientation" type="text" required></ion-input>
    </ion-item>
    <ion-item *ngIf="hidden == 1">
      <ion-label position="floating">Altitude:</ion-label>
      <ion-input formControlName="altitudeTakeOff" type="text" required></ion-input>
    </ion-item>
    <ion-item *ngIf="hidden == 2">
      <ion-label position="floating">Approach maneuver:</ion-label>
      <ion-input formControlName="approachManeuver" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Geo Coordinates:</ion-label>
      <ion-input formControlName="siteGeoCoordinate" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"># flights:</ion-label>
      <ion-input formControlName="numberOfUse" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level required:</ion-label>
      <ion-input formControlName="levelId" type="text" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
