<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text="Back" default-href="home"></ion-back-button>
    </ion-button>    
    <ion-title>List of sites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let item of sites">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/icon/avatarsite.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <h3>Requires: Brevet level {{ item.levelId }}</h3>
        <p># flights: {{ item.numberOfUse }}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="deleteAction(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="secondary" routerLink="/site-edit/{{item.id}}">
        <ion-icon name="create-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/site-add">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
