<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text="Back" default-href="/paraglider-list"></ion-back-button>
    </ion-button>    
    <ion-title>Edit a paraglider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmitAction()">
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Commissioning date:</ion-label>
      <ion-input formControlName="commissioningDate" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last inspection:</ion-label>
      <ion-input formControlName="lastRevision" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Model: </ion-label>
      <ion-input formControlName="paragliderModelApprovalNumber" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Number of flights: </ion-label>
      <ion-input formControlName="numberOfFlights" type="text" required [disabled]='true'></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>