<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text="Back" default-href="/pilot-list"></ion-back-button>
    </ion-button>    
    <ion-title>Edit a pilot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmitAction()">
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address:</ion-label>
      <ion-input formControlName="address" type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
