<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text="Back" default-href="/pilot-list"></ion-back-button>
    </ion-button>    
    <ion-title>Add a site</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <ion-button expand="block" (click)="showForm(1)" *ngIf="!status">Take-off site</ion-button>
    <ion-button expand="block" (click)="showForm(2)" *ngIf="!status">Landing site</ion-button>
  </ion-col>
  

  <form [formGroup]="form" (ngSubmit)="onSubmitAction()" *ngIf="status">
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Orientation:</ion-label>
      <ion-input formControlName="orientation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Altitude:</ion-label>
      <ion-input formControlName="altitudeTakeOff"></ion-input>
    </ion-item>
    <ion-item *ngIf="site==2">
      <ion-label position="floating">Approach maneuver:</ion-label>
      <ion-input formControlName="approachManeuver"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Geo Coordinates:</ion-label>
      <ion-input formControlName="siteGeoCoordinate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"># flights:</ion-label>
      <ion-input formControlName="numberOfUse"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level required:</ion-label>
      <ion-input formControlName="levelId"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Add</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
