<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text="Back" default-href="home"></ion-back-button>
    </ion-button>    
    <ion-title slot="end">{{ pilot?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h2>Name: {{ pilot?.name }}</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Address: {{ pilot?.address }}</h3>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3># of Flights: {{ numberOfFlights }}</h3>
    </ion-label>
  </ion-item>
</ion-content>